@CHARSET "ISO-8859-1";


		.header_img{
			background: url("../images/ppe-black-m.png");
			width: 1px;
			height: 1px;
		
		}
		
#title2{
	font-size:26px;
	font-family: Lucida Sans Unicode, Tahoma, Verdana, Arial, sans-serif;	
	width:auto;
	height: 53px;
	margin-top:5px;
	margin-bottom:5px;
	text-align:center;
	font-weight:normal !important; 
	color:#000;
	text-decoration:none;
}
#title3{
	font-size:21px;
	font-family: Lucida Sans Unicode, Tahoma, Verdana, Arial, sans-serif;
	font-weight: bold;	
	width:auto;
	height: 53px;
	margin-top:2%;
	margin-bottom:1%;

}

/******CONTAINERS*****/
#index .ui-header {
    background: #FFFFFF !important;
    padding-bottom: 1% !important;
    font-weight:lighter !important;
    font-size: 24px;
}

#login-container{
	width:100%;
	height: 53px;
	margin-top:20%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:center;
	font-size:36px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
	float:left;
}

#icons{
	width: 100%;
	padding-left: 2.5%;
	align:center;
	
		
}

#header {
	width:101.7%;
	margin-top: -1%;
	margin-left: -9px;
	box-shadow: 0px 5px 5px -3px #c0c0c0;
	padding-top: 1%;
	padding-bottom: 2%;
	margin-bottom: 3%;
	padding-left:0px;
	padding-right:0px;
}

.login-popup{
	display:none;
	background:#ffffff;
	padding: 10px; 	
	
	font-size: 1.2em;
	position:fixed;
	top:50%;
	left:50%;
	height: 500px;
	width: 600px;
	z-index: 99999;

	border-radius:20px;
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari, Chrome */
}

.sLoginStatus{
	font-size: 14px;
	color:#B70000;
	font-weight: bold;
}
.table-header-blue{
	background-color:#29ABE2;
	color:#ffffff;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#6060CC /*{a-bar-shadow-color}*/;
}

/****CONTAINERS END****/


/******ICONS*******/
.close{
	background: url("../images/mobile/close.png");
	background-size: 70px 70px;
	backgroun-repeat: no repeat;
	padding: 35px 35px;
	width:1px;
	height:1px;
	float:right;
	margin-top:-28px;
	position: inherit;

}
.icon-target{
	background-image:url('../images/target.svg');
	background-size:127px 97px;

	background-repeat:no-repeat;
	padding:127px;
	width: 10px;
	height:1px;
}
.icon-velocity:after{
	background-image:url('../images/velocity.svg');
	background-size: 127px 97px;
	padding: 90px 90px;
	width:1px;
	height: 1px;
}

/*****ICONS-END*****/

/******FONTS*******/

/******FONTS-END****/

/****MODAL ELEMENTS****/
.mask {
	display: none;
	position: absolute; left: 0; top: 0;
	 
	z-index: 10;
	width: 100%; height: 140%;
	opacity: 0.8;
	z-index: 999;
	background:#333333;
}
/***MODAL ELEMENTS END****/